Repository open-telemetry/opentelemetry-python-contrib, pull requests merged in 2025-03, with the labels that each got.

#3315 Improve pymongo instrumentation example
  instrumentation/opentelemetry-instrumentation-pymongo/src/opentelemetry/instrumentation/pymongo/__init__.py
Labels: Skip Changelog

#3326 botocore: add genai metrics to bedrock extension
  CHANGELOG.md
  instrumentation/opentelemetry-instrumentation-botocore/pyproject.toml
  instrumentation/opentelemetry-instrumentation-botocore/src/opentelemetry/instrumentation/botocore/__init__.py
  instrumentation/opentelemetry-instrumentation-botocore/src/opentelemetry/instrumentation/botocore/extensions/bedrock.py
  instrumentation/opentelemetry-instrumentation-botocore/src/opentelemetry/instrumentation/botocore/extensions/types.py
  instrumentation/opentelemetry-instrumentation-botocore/tests/bedrock_utils.py
  instrumentation/opentelemetry-instrumentation-botocore/tests/conftest.py
  instrumentation/opentelemetry-instrumentation-botocore/tests/test_botocore_bedrock.py
Labels: gen-ai

#3330 Small fixes for google-genai before releasing
  .github/workflows/package-prepare-patch-release.yml
  .github/workflows/package-prepare-release.yml
  .github/workflows/package-release.yml
  RELEASING.md
  instrumentation-genai/opentelemetry-instrumentation-google-genai/src/opentelemetry/instrumentation/google_genai/version.py
Labels: Skip Changelog

#3336 make urllib test less flaky
  instrumentation/opentelemetry-instrumentation-urllib/tests/test_metrics_instrumentation.py
Labels: Skip Changelog

#3316 Improve requests instrumentation example
  instrumentation/opentelemetry-instrumentation-requests/src/opentelemetry/instrumentation/requests/__init__.py
Labels: Skip Changelog

#3342 botocore: don't crash when sending content as string with InvokeModel
  instrumentation/opentelemetry-instrumentation-botocore/src/opentelemetry/instrumentation/botocore/extensions/bedrock_utils.py
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_content_user_content_as_string.yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/test_botocore_bedrock.py
Labels: Skip Changelog

#3341 urllib: don't assume we control the bucket metrics data points get in
  instrumentation/opentelemetry-instrumentation-urllib/tests/test_metrics_instrumentation.py
Labels: Skip Changelog

#3343 Change affiliation for emdneto
  README.md
Labels: Skip Changelog

#3333 instrumentation: rename experimental semconv status to development in README
  README.md
  instrumentation/README.md
  scripts/generate_instrumentation_readme.py
Labels: Skip Changelog

#3311 Add instrumentation example to aiohttp-server
  instrumentation/opentelemetry-instrumentation-aiohttp-server/src/opentelemetry/instrumentation/aiohttp_server/__init__.py
Labels: Skip Changelog

#3312 Improve asyncio instrumentation examples
  instrumentation/opentelemetry-instrumentation-asyncio/README.rst
  instrumentation/opentelemetry-instrumentation-asyncio/src/opentelemetry/instrumentation/asyncio/__init__.py
Labels: Skip Changelog

#3360 opentelemetry-instrumentation: fix RST syntax of README
  .github/workflows/lint_0.yml
  .github/workflows/misc_0.yml
  .github/workflows/test_0.yml
  .github/workflows/test_1.yml
  .github/workflows/test_2.yml
  opentelemetry-instrumentation/README.rst
Labels: Skip Changelog, Skip generate-workflows

#3362 opentelemetry-instrumentation: fix RST syntax of README
  opentelemetry-instrumentation/README.rst
Labels: Skip Changelog

#3377 Update CHANGELOG.md
  CHANGELOG.md
Labels: Skip generate-workflows

#3372 Improve fastapi instrumentation example
  instrumentation/opentelemetry-instrumentation-fastapi/src/opentelemetry/instrumentation/fastapi/__init__.py
Labels: Skip Changelog

#3371 Improve flask instrumentation example
  instrumentation/opentelemetry-instrumentation-flask/src/opentelemetry/instrumentation/flask/__init__.py
Labels: Skip Changelog

#3370 Improve falcon instrumentation examples
  instrumentation/opentelemetry-instrumentation-falcon/README.rst
  instrumentation/opentelemetry-instrumentation-falcon/src/opentelemetry/instrumentation/falcon/__init__.py
Labels: Skip Changelog

#3369 Improve confluent-kafka instrumentation examples
  instrumentation/opentelemetry-instrumentation-confluent-kafka/src/opentelemetry/instrumentation/confluent_kafka/__init__.py
Labels: Skip Changelog

#3367 Improve elasticsearch instrumentation examples
  instrumentation/opentelemetry-instrumentation-elasticsearch/src/opentelemetry/instrumentation/elasticsearch/__init__.py
Labels: Skip Changelog

#3348 Improve botocore instrumentation examples
  instrumentation/opentelemetry-instrumentation-botocore/src/opentelemetry/instrumentation/botocore/__init__.py
Labels: Skip Changelog

#3350 fix: opentelemetry-instrumentation-openai-v2 version in example
  instrumentation-genai/opentelemetry-instrumentation-openai-v2/examples/manual/requirements.txt
  instrumentation-genai/opentelemetry-instrumentation-openai-v2/examples/zero-code/requirements.txt
Labels: Skip Changelog

#3392 use type instead of pyright
  instrumentation-genai/opentelemetry-instrumentation-google-genai/src/opentelemetry/instrumentation/google_genai/generate_content.py
  instrumentation-genai/opentelemetry-instrumentation-vertexai/src/opentelemetry/instrumentation/vertexai/__init__.py
Labels: Skip Changelog

#3385 botocore: handle tool calls with Amazon nova with Bedrock InvokeModel* APIs
  CHANGELOG.md
  instrumentation/opentelemetry-instrumentation-botocore/src/opentelemetry/instrumentation/botocore/__init__.py
  instrumentation/opentelemetry-instrumentation-botocore/src/opentelemetry/instrumentation/botocore/extensions/bedrock_utils.py
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_no_content_tool_call[amazon.nova].yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_no_content_tool_call[anthropic.claude].yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_content_tool_call[amazon.nova].yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_content_tool_call[anthropic.claude].yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_response_stream_no_content_tool_call.yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_response_stream_no_content_tool_call[amazon.nova].yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_response_stream_no_content_tool_call[anthropic.claude].yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_response_stream_with_content_tool_call.yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_response_stream_with_content_tool_call[amazon.nova].yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/cassettes/test_invoke_model_with_response_stream_with_content_tool_call[anthropic.claude].yaml
  instrumentation/opentelemetry-instrumentation-botocore/tests/test_botocore_bedrock.py
Labels: gen-ai

#3349 Improve asyncpg instrumentation example
  instrumentation/opentelemetry-instrumentation-asyncpg/src/opentelemetry/instrumentation/asyncpg/__init__.py
Labels: Skip Changelog
